.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    max-width: 1000px;
    flex-wrap: wrap;
  }
  
  .pageButton {
    background-color: #26B99A;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem;
  }
  
  .pageButton:disabled {
    background-color: #5a738e;
    cursor: not-allowed;
  }
  
  .activePageButton {
    background-color: #31dcb7;
  }
  
  .selectt {
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 16px;
    border-radius: 4px;
  }
  @media only screen and (max-width: 600px) {
    .pagination {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      margin-left: 0%;
    }
    
    .pageButton {
      margin: 0.2rem;
      font-size: 10px;
      padding: 0.3rem 0.8rem;
    }
    
    .selectt {
      margin: 0.2rem;
      font-size: 9px;
    }
  }