@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
  font-family: 'Inter';
  font-weight: 600;
  
      

  }

  .container{
    background: #6f7c85;
    padding-top: 100px;
    color: black;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
    
  }
  .onehun{
    width: 100%;
    text-align: center;
  }

  .flex-boxx{
    width: 100%;
    display: flex;
  justify-content: center;
  align-items: stretch;
  }

  .h1{
    margin-top: 100px;
  }

  input{
    border-radius: 1px;
  }
 

 .margintop{
  margin-top: 5px;
 }

.margintope{
  margin-top: 40%;
}
 .right{
  
 }
.leftttt{
  padding-left: 30px;
  padding-bottom: 5%;
  
}
.table{
  width: 90%;
}
 .topmin{
  margin-top: 0px;
  padding-top: 0;
 }
 .table {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  border-collapse: collapse; 
  border-radius: 10px;
  text-align: left;
  min-width: 300px;
}

.tablew{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  border-collapse: collapse; 
  border-radius: 10px;
  text-align: left;
  min-width: 500px;
}
.ff{
  font-size: 15px;
}
table th {
  font-size: 18px;
  min-width: 100px;
  padding: 5px;
  height: 30px;
  background: #DDE6ED;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  user-select: none;
}

table td {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  font-size: 15px;
}

.tdd {
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .userAdd{
    width: 100%;
    background-color: #DDE6ED;
    border: 1px #151C2F solid;
    
  }
  .table {
    font-size: 80%;
  }
  .right-side{
    width: 0%;
  }
}
.flex{
  display: flex;
  justify-content: center;
}


.wrap{
  display: flex;
  flex-wrap: wrap;
}
.textarea {
  width: 90%;
  height: 50%;
}

.table-wrap {
  text-align: center;
  display: inline-block;
background-color: #fff;
padding: 2rem 2rem;
color: #000;
}

.h2{
  
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: #5a738e !important;
}

.h3{
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
  }
  .fulll{
    width: 100%;
  }
.inputtt{
  width: 70%;
}

  table td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
    position: relative; /* Добавляем относительное позиционирование */
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Положение слева */
    top: 0; /* Положение сверху */
  }
}






.button-sort {
  background-color: #26B99A;
  color: white;
  border-radius: 2px;
  border: none;
  margin-left: 60px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-sort:hover {
  background-color: #1b856e;
}

@media (max-width: 768px) {
  .Navvv {
    justify-content: center;
  }
.BigT{
  font-size: 20px;
}
  .Flexb {
    justify-content: center;
  }
  .Logoutbtnn{
font-size: 9px;
  }
  .left-text{
    font-size: 12px;
  }
  .inputadm{
    
    font-size: 10px;
  }
  .Hadapt{
    font-size: 23px;
    margin-left: 3%;
  }
}

.Navvv{

}

.Flexb{

}

.Logoutbtn{

}

.userAdd{
  width: 80%;
  background-color: #DDE6ED;
  border: 1px #151C2F solid;
  margin-top: 2%;
  padding-top: 2%;
  margin-left: 10%;
  padding-right: 5%;
  

}

.butbut{
  /* Your existing styles */
  background-color: #f5f5f5;
  width: 50%;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 1px;
  color: #333;
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  position: relative; /* Needed for absolute positioning of the pseudo-element */
}

.butbut::after {
  /* Creating the arrow */
  content: '▼'; /* Downward arrow */
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  transition: transform 0.3s ease; /* Smooth transition for rotating arrow */
}

.butbut.active::after {
  /* Changing the arrow direction when the element is active/clicked */
  content: '▲'; /* Upward arrow */
}




@media only screen and (max-width: 600px) {
  .userAdd{
    width: 100%;
    background-color: #DDE6ED;
    border: 1px #151C2F solid;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 0%;
    padding-right: 0%;
    
  }
.container {
    background: #6f7c85;
    padding-top:90px;
    color: black;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
}}

.full{
  width: 100%;
  text-align: center;
}

.noData{
  margin-top: 15px;
  border: #000 solid 1px;
  border-radius: 5px;
  padding: 10px;
  background-color: #3b4148;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.userAddd{
  width: 95%;
  background-color: #DDE6ED;
  border: 1px #151C2F solid;
  margin-left: 0%;
  padding-right: 2%;
  height: 95vh;
  
}

.userAddde{
  width: 750px;
  background-color: #DDE6ED;
  border: 1px #151C2F solid;
  margin-left: 0%;
  padding-right: 2%;
  align-items: stretch;
  
}

.userAdddd{
  width: 95%;
  background-color: #DDE6ED;
  margin-top: 2%;
  padding-top: 2%;
  margin-left: 0%;
  padding-right: 2%;
  
}

.containerr{
  background: #6f7c85;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.tdleft{
  text-align: left;
}
td.faf {
  width: 30%; /* Пример: установите желаемое значение ширины */
}

.containerrr{
  background: #6f7c85;
  color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  
}
.firstSide{
  width: 200px;
}
.secondSide{
  width: 200px;
}
.thirdSide{
  width: 10px;
  text-align: right;
}
.flexx{
  display: flex;
  flex-wrap: wrap;
}
.flexxe{
  flex-wrap: wrap;
  justify-content: space-between;
}

.space{
  justify-content: space-between;
}



.containerw{
  width: 100%;
  background: #6f7c85;
  
}

.span{
  height: 1px;
  background-color: #e6e9ed69;
  width: 90%;
  margin:0 auto;
  margin-top: 20px;
}

.mglft{
  margin-left: 5%;
}

.spanew{
  height: 1px;
  background-color: #e6e9ed69;
  width: 750px;
  margin:0 auto;
  margin-top: 20px;
}

.inputadm{
  height: 35px;
  width: 100%;
  min-width: 250px;
  border-radius: 1px;
  background: #ffffff8a;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

.inputadmin{
  height: 35px;
  width: 30%;
  min-width: 250px;
  border-radius: 1px;
  background: #ffffff8a;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

.inputadmCreate{
  height: 35px;
  width: 60%;
  border-radius: 1px;
  background: #ffffff77;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
}

.wrapper{
  justify-content: center;
  
}
.buttonadm{
  height: 35px;
  width: 40%;
  min-width: 200px;
  margin-left: 5%;
  font-size: 16px;
  
  margin-right: 5%;
  background-color: #26b99985;
  color: #ffffff87;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: #169f8694 solid 1px;
}

.buttonadmMod{
  height: 40px;
  width: 60;
  background-color: #26b99960;
  color: #ffffff74;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  border: #169f8681 solid 1px;
}

.buttonadmm{
  height: 35px;
  width: 20%;
  background-color: #26b99988;
  color: #ffffff6f;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 15px;
  border: #169f8693 solid 1px;
  margin-bottom: 20px;
}

.buttonadmmin{
  height: 20px;
  width: 10%;
  background-color: #26b99988;
  color: #ffffff6f;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 10px;
  border: #169f8693 solid 1px;
  margin-bottom: 20px;
}

table th span {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: #26f59160;
  opacity: 0.5;
}

table th:hover span,
table th:focus span {
  opacity: 1;
}

.buttonadmModd{
  height: 40px;
  width: 20%;
  margin-left: 10px;
  background-color: #ff2c5aac;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  border: #169f8668 solid 1px;
  margin-bottom: 20px;
}

.marginleft{
  margin-left: 3px;
}

.buttonadmClose{
  height: 35px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #26B99A;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 20px;
  border: #169F85 solid 1px;
  margin-bottom: 20px;
}

.flexbox {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.flexboxModal{
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .flexbox {
    flex-wrap: wrap;
  }
}
.form{
  flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
  .form {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-side{
    width: 0%;
    display: flex;
    flex-direction: column;
  }
  .centerout-side{
    width: 100%;
  }
}
.left-side{
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left-sideCreate{
  width: 25%;
  display: flex;
  flex-direction: column;
}
.left-text{
  height: 35px;
  text-align: right;
  margin-top: 15px;
  font-weight: 400;
}
.left-textCreate{
  height: 35px;
  font-size: 15px;
  text-align: right;
  margin-top: 15px;
  font-weight: 400;
}

.center-side{
  width: 50%;
}
.center-sideCreate{
  width: 70%;
}

.centerout-side{
  width: 40%;
}

.labeladm{
  font-size: 30px;
  width: 200px;
  height: 50px;
}
.right-side{
  width: 25%;
}

.h1-text{
  margin-left: 3%;
}

.descripword{
  margin-left: 5%;
}

.button-data{
  border: none;
  font: inherit;
  color: #a5c9c1;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border: 1px solid #a5c9c1;
  margin-top: 2px;
  border-radius: 4px;
  height: 35px;
  margin-right: 5px;
}

.button-data:hover{
  background-color: #3ad6b4;
  border: 1px solid #009272;
  color: #fff;
  transition: 0.5s;
}

.square{
  background-color: #a5a5a5;
  width: 100px;
  height: 100px;
  margin: 1%;
  border-radius: 15px;
 
  opacity: 0.6;
}
.square:hover{
  opacity: 1;
  transition: 0.5s;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #cccccc27;
  padding: 20px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content p {
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin-bottom: 0.5rem;
}

.modal-content input[type="checkbox"] {
  margin-right: 0.5rem;
}

.modal-content .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}
.relQuantity{
  font-size: 12px;
  width: 25px;
  color: #000;
  display: flex;
  opacity: 1;
}
.rel{
  background-color: #00091281;
  border-radius: 12px;
  margin-left: 6px;
}

.rel2{
  font-size: 15px;
  font-weight: 400;
  margin-left: 3px;
  margin-top: 18px;
  cursor: default;
}

.h2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #dddddd73;
}

.h3 p {
  flex: 1;
  margin: 0;
  font-size: 15px;
}

.h3 input {
  flex: 0 0 10px;
  height: 20px;
  margin-left: 5px;
  text-align: center;
  font-size: 16px;
}

.searchbar {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #dddddd60;
}

.pagination select {
  margin-right: 5px;
  font-size: 15px;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination li {
  margin-right: 5px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #dddddd73;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
}

.pagination a:hover {
  background-color: #dddddd69;
}
.datebox{
  width: 500px;

  margin-left: 50px;
}
.datebox input{
  
}

.date-input {
  padding: 5px;
  border: 1px solid #cccccc7e;
  border-radius: 4px;
  font-size: 15px;
  color: #333;
  outline: none;
  width: 100px; /* Устанавливаем ширину 100% по умолчанию */

  /* Добавляем медиа-запросы для адаптивности */
  @media screen and (max-width: 768px) {
    width: 30%; /* При ширине экрана до 768px уменьшаем ширину до 80% */
  }

  @media screen and (max-width: 480px) {
    width: 30%; /* При ширине экрана до 480px уменьшаем ширину до 60% */
  }
}

.date-input:hover {
  border-color: #99999971;
}

.date-input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #6666666d;
}

.mgdown{
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .userAddde {
    width: 100%;
    padding-right: 5%;
    margin-left: 0;
  }

  .flex-boxx, .containerrr {
    flex-direction: column;
    align-items: center;
  }

  /* Здесь вы можете добавить дополнительные стили для других элементов,
     чтобы они выглядели лучше на мобильных устройствах */
}

@media screen and (max-width: 768px) {
  .userAddde {
    flex-basis: 100%;
    width: 350px; /* Элемент займет весь доступный размер */
    margin: 0;
    height: 100%;
  }

  .flex-boxx {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  th{
    width: 200px;
  }
  td{
    width: 200px;
    text-align: right;
  }
  .leftttt{
    padding-left: 10px;
    padding-bottom: 0%;
    
  }
  .table{
    min-width: none;
  }
  .containerrr{
    background: #6f7c85;
    color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: baseline;
    align-items: stretch;
    flex-direction: row;
    
    
  }
  *{
    margin: 0;
    padding: 0;
  }

  /* Здесь вы можете добавить дополнительные стили для мобильных устройств */
}
.paper{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}